.navbar {
    position: fixed;
    width: 100%;
    background-color: rgb(52, 49, 45);
    display: flex;
    ul {
        padding: 0 15px;
        flex: 1;
        display: flex;
        gap: 10px;
        margin: 0;
        list-style: none;
    }
}
